<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
       <h1 class="text-center">  <span class="text-primary"><i class="fa fa-lock"></i>Login Panel</span>Client</h1>

       <form (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="LoginData.email"  required >
          </div>
          <div class="form-group">
            <label for="Email">Password</label>
            <input type="password" class="form-control" name="password"  [(ngModel)]="LoginData.password"   required  >
          </div>
          <button type="submit" class="btn btn-primary" >Submit</button>

        </form>
        <button class="btn btn-danger btn-block" (click)="googlesignin()" ><i class="fa fa-google-plus"></i>Google Account</button>
      </div>
    </div>
  </div>
</div>
<button (click)="try2()" >seeme</button>
<img src="https://lh5.googleusercontent.com/l4KY8KyFIgwUJ_aPR42o6INEbXi3ZSjxbcfAov-4tizHfrBz5xfrlrHoMykybMCiQ1r6xSPdfp72Ep05IB4GmLY2a-BgaJR4IQJaw3lWUM6rZl-6XaDg_gpFYJf5r8nu9w=w1653" style="width:20%;"> alt="">
