<div class="row">
  <div class="col-md-12">
    <a routerLink="/client"><i class="fa fa-arrow-circle-left"> </i>Back To Dashboard</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="card-title"><i class="fa fa-user"> </i>New Client</h4>
    <form (ngSubmit)="onSubmit()" #formClient="ngForm" >
      <div class="form-group"><label for="firstName">firstName</label>
        <input
        type="text"
        name="firstname"
        id=""
        class="form-control"
        [(ngModel)]="client.firstName"
        #clientFirstname="ngModel"
        required
        minlength="3"
        [ngClass]="{'is-invalid' : clientFirstname.errors && clientFirstname.touched}"

        >
        <div class="invalid-feedback"
        *ngIf="clientFirstname.touched && !clientFirstname.valid">
          <div
            *ngIf="clientFirstname.errors?.['required']">
            Ce Chmap est obligatoire
          </div>
          <div
            *ngIf="clientFirstname.errors?.['minlength']">
            Ce Chmap doit au min avoir {{clientFirstname.errors?.['minlength'].requiredLength}} caractére vous avez saisir {{clientFirstname.errors?.['minlength'].actualLength}}
          </div>
       </div>

      </div>
      <div class="form-group"><label for="lastName">lastName</label>
        <input
        type="text"
        name="lastName"
        id=""
        class="form-control"
        [(ngModel)]="client.lastName"
        #clientlastName="ngModel"
        required
        minlength="3"
        [ngClass]="{'is-invalid' : clientlastName.errors && clientlastName.touched}"

        >
        <div class="invalid-feedback"
        *ngIf="clientlastName.touched && !clientlastName.valid">
          <div
            *ngIf="clientlastName.errors?.['required']">
            Ce Chmap est obligatoire
          </div>
          <div
            *ngIf="clientlastName.errors?.['minlength']">
            Ce Chmap doit au min avoir {{clientlastName.errors?.['minlength'].requiredLength}} caractére vous avez saisir {{clientlastName.errors?.['minlength'].actualLength}}
          </div>
       </div>

      </div>
      <div class="form-group"><label for="email">email</label>
        <input
        type="email"
        name="email"
        id=""
        class="form-control"
        [(ngModel)]="client.email"
        #clientemail="ngModel"
        required
        minlength="3"
        [ngClass]="{'is-invalid' : clientemail.errors && clientemail.touched}"

        >
        <div class="invalid-feedback"
        *ngIf="clientemail.touched && !clientemail.valid">
          <div
            *ngIf="clientemail.errors?.['required']">
            Ce Chmap est obligatoire
          </div>
          <div
            *ngIf="clientemail.errors?.['minlength']">
            Ce Chmap doit au min avoir {{clientemail.errors?.['minlength'].requiredLength}} caractére vous avez saisir {{clientemail.errors?.['minlength'].actualLength}}
          </div>
       </div>

      </div>
      <div class="form-group"><label for="phone">phone</label>
        <input
        type="text"
        name="phone"
        id=""
        class="form-control"
        [(ngModel)]="client.phone"
        #clientphone="ngModel"
        required
        minlength="8"
        [ngClass]="{'is-invalid' : clientphone.errors && clientphone.touched}"

        >
        <div class="invalid-feedback"
        *ngIf="clientphone.touched && !clientphone.valid">
          <div
            *ngIf="clientphone.errors?.['required']">
            Ce Chmap est obligatoire
          </div>
          <div
            *ngIf="clientphone.errors?.['minlength']">
            Ce Chmap doit au min avoir {{clientphone.errors?.['minlength'].requiredLength}} caractére vous avez saisir {{clientphone.errors?.['minlength'].actualLength}}
          </div>
       </div>

      </div>
      <div class="form-group"><label for="Balance">Balance</label>
        <input
        type="number"
        name="balance"
        id=""
        class="form-control"
        [(ngModel)]="client.balance"
        #clientbalance="ngModel"
        required
        minlength="3"
        [ngClass]="{'is-invalid' : clientbalance.errors && clientbalance.touched}"

        >
        <div class="invalid-feedback"
        *ngIf="clientbalance.touched && !clientbalance.valid">
          <div
            *ngIf="clientbalance.errors?.['required']">
            Ce Chmap est obligatoire
          </div>
          <div
            *ngIf="clientbalance.errors?.['minlength']">
            Ce Chmap doit au min avoir {{clientbalance.errors?.['minlength'].requiredLength}} caractére vous avez saisir {{clientbalance.errors?.['minlength'].actualLength}}
          </div>
       </div>

      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!formClient.valid">submit</button>
    </form>
  </div>
</div>
